name: Build and Push image to GHCR

on:
    push:
        branches:
            - main
            - staging
            - develop
        paths-ignore:
            - ".github/**"
    workflow_dispatch:

jobs:
    image-build-and-push:
        uses: hotosm/gh-workflows/.github/workflows/image_build.yml@1.5.1
        with:
            image_name: ghcr.io/${{ github.repository }}/dashboard
            dockerfile: Dockerfile
            scan_dockerfile: false
            scan_image: false
            context: ./images/dashboard
            image_tags: |
                ghcr.io/${{ vars.IMAGE_NAME || 'hotosm/osm-sandbox-dashboard/dashboard' }}:${{ github.ref_name }}
                ghcr.io/${{ vars.IMAGE_NAME || 'hotosm/osm-sandbox-dashboard/dashboard' }}:${{ github.sha }}
